{% extends 'basehtml.html' %}
{% load static %}
{% block content %}
<section class="about-section">
    <h2>About Us</h2>
    <p>Welcome to Mobile Store, your one-stop destination for the latest and greatest mobile phones. We are passionate about bringing you the best in mobile technology, offering a curated selection of high-quality devices to suit every need.</p>
    <p>Our mission is to provide an exceptional shopping experience, combining cutting-edge products with excellent customer service. Whether you're a tech enthusiast or just in need of a reliable phone, Mobile Store has something for everyone.</p>
    <p>Explore our collection and stay connected with the latest trends in mobile technology. Thank you for choosing Ali's Mobile Store!</p>
    <img src="{% static 'img/5.jpg' %}" alt="about Page" class="about-image">
</section>

{% endblock content %}
