{% extends 'basehtml.html' %}
{% load static %}
{% block content %}
<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f4f4f4;
        color: #333;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    h1 {
        color: whitesmoke;
        margin-top: 50px;
    }

    h2 {
        color: #007BFF;
        margin-top: 50px;
    }
</style>
<h2>
    your product shell be shipped to your location.<br>
    Thank you for choosing our store.
</h2>

{% endblock content %}